clip-art/
photo/
labels_BOW.csv
labels.csv
LBP.csv
RGB.csv
labels_gray.dat
labels_classicals.csv
SURF_1024.csv
SIFT_1024.csv
models/RF_LBP.dat
models/RF_HSV.dat
models/RF_GLCM.dat
models/BOW_SIFT_SVM.dat
models/dictionary_SIFT.dat
models/conv_model_4_8_256_0.1.dat
images_gray.dat
images.dat
glcm.csv
HSV.csv
.idea/
__pycache__/FeatureExtraction.cpython-35.pyc
__pycache__/DatabaseFeatureExtraction.cpython-35.pyc
